html,
body {
  padding: 5px auto;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;

  background: linear-gradient( 
90deg
, rgb(116, 28, 179) 0%, rgb(0, 113, 179) 100%);
}
.button-signin{
  width: -webkit-fill-available !important;
  margin: 0 auto 0 auto ;
}
.nun{
  display: none;
}
* {
  box-sizing: border-box;
}
.block:not(:last-child) {
  margin-bottom: 1.5rem;
}
.footer{
  flex: 1 1 100%;
  align-self: flex-end;
   width:-webkit-fill-available; 
}
.signin,.signup{
  
  margin-top: 5% !important;
  margin-bottom: 5% !important;
  margin: auto;
  scroll-behavior: smooth;
}
.signin{width: max-content;}
.signup{
  width: 50%;
}
.hero{
  border-radius: 0 !important;
}
.posts{
  width: 50%;
  margin: auto;
}
.textarea{
  border-color: white;
  resize: none;
  overflow: hidden;
}
.avatar{
  border-radius: 999px;
}
.spacing{
padding: 10px !important;
}
input {
  border: 4px solid #999;
  padding: 1px auto;
  margin:1px auto ;
  width:50%;
}
a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}
